.checkbox{
    align-self: flex-end;
}
.save{
    display: flex;
    justify-content: center;
}
form{
    border: 1px solid grey;
    padding: 5%;
    margin: 1%;
}
.save .btn{
    width: 50%;
    font-weight: bold;
}

.save .btn:hover{
    color: rgb(243, 218, 218);
}